# Les bases du langage Python


- Langage de haut niveau
- Langage interprété
- Langage orienté objet
- Langage le plus proche possible du langage naturel

*Attention Python est sensible à la casse*

# Quelques rappels en Python

- Tout est objet même les "variables"
- Un objet possède toujours des propriétés et des méthodes

Avec iPython, on utilise pour connaître les méthodes et les propriétés :
```
mon_objet.[tabulation]
```

# Les types en Python

Les types de base :
- int
- float
- boolean
- string

En Python pas besoin de déclarer le type de données, le langage s’en charge tout seul

Python est basé sur un typage fort - une fois un objet d'un type donné, Python ne l'adapte pas

Pour connaître le type d’une variable, on utilise : type(nom_de_variable)

In [6]:
nom_de_variable = 44.8

print(type(nom_de_variable))

<class 'float'>

**Exercice**

Définir quatre variables distinctes, un entier, un float, un booléen et une chaîne de caractère et affichez-les dans la console.

In [7]:
entier1 = 44
float1 = 44.55
bool1 = True
chaine1 = 'python'
chaine2 = "python"
chaine3 = """python"""

In [8]:
print(entier1,float1,bool1,chaine1,chaine2,chaine3)

44 44.55 True python python python

# Les opérations arithmétiques

- +
- -
- *
- /
- ** (puissance)
- % (modulo)

# Les chaînes de caractères

### 3 codages équivalents :

In [9]:
print("Python",'Python',"""Python""")

Python Python Python

De nombreuses opérations sur les chaînes :

In [10]:
chaine1="Python"
print(len(chaine1), chaine1.lower(), chaine1.upper(), str(chaine1))

6 python PYTHON Python

In [11]:
chaine1.upper().find("Y")

1

**Exercice**

Définir une variable comprenant la chaîne 'Python pour la Science', utilisez des opérations sur les chaînes pour afficher 'PYTHON POUR LA DATA SCIENCE'

In [12]:
chaine_python = "Python pour la Science"

In [13]:
print(chaine_python.replace("la", "la data").upper())

PYTHON POUR LA DATA SCIENCE

In [14]:
print((chaine_python[:chaine_python.find("Science")]
       +"data"
       +chaine_python[chaine_python.find("Science")-1:]).upper())

PYTHON POUR LA DATA SCIENCE

In [15]:
print(chaine_python * 3)

Python pour la SciencePython pour la SciencePython pour la Science

In [16]:
chaine_python[-5]

'i'

# Les opérateurs booléens

- `not`, `and` et `or`
- Ordres de priorité
    - `not`
    - `and`
    - `or`

In [17]:
print(not True)
print(True or False)
print(True and False)
print(not True and False)
print(not True or False)

False
True
False
False
False

# Les convertisseurs de type

On peut convertir des types en utilisant :

In [18]:
print(type(float(entier1)))

<class 'float'>

In [19]:
print(type(bool('True')))
print(type(bool(0)))

<class 'bool'>
<class 'bool'>

# Les opérateurs pour les conditions

Permet de mettre en place des conditions

In [20]:
bool1=True
if not bool1 is True :
    print("C'est vrai")
elif bool1 is False:
    print("C'est faux")
else:
    print("bool1 n'est pas un booléen")

bool1 n'est pas un booléen

In [21]:
if bool1 == True:
    print("C'est vrai")
elif bool1 == False:
    print("C'est faux")
else:
    print("bool1 n'est pas un booléen")

C'est vrai

In [22]:
import numpy as np

In [23]:
array = np.array([3,5,7])

In [24]:
type(array)

numpy.ndarray

- Attention dans une condition, si on teste l'égalité des valeurs, il faut utiliser == (les autres opérateurs sont <, <=, >, >=, !=)
- Il existe aussi l'opérateur is qui est très important en Python (lisibilité)
    - Il permet de tester non pas uniquement les valeurs mais les objets similaires ( True == 1 est vrai mais True is 1 est faux) 
- Veillez à bien respecter l’indentation

# La boucle for

- Les boucles for de Python ont une structure spécifique
- L'itérateur prend comme valeur les éléments d'une liste
- Structure :
```
for indice in sequence:
    instructions
```
- On peut utiliser `break` pour casser une boucle 

- `while` peut aussi être utilisé

In [25]:
for col in ["a","b","c"]:
    print(col)

a
b
c

In [26]:
for i in range(5):
    print(i)

0
1
2
3
4

**La boucle de Python est un outil à manier avec parcimonie (elle est très lente)**

L'utilisation de `range(n)` permet de créer une liste de valeur de 0 à n-1 :

In [27]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

**Exercice :**
    
Créez une boucle for qui parcourt un range de 0 à 5 et qui ajoute 1 à une variable à chaque boucle

In [28]:
x = 0
for i in range(3,17,2) :
    x += 1
    print(i)
    # x=x+1
    #print(x)

3
5
7
9
11
13
15

**Exercice :**
    
    
Créer une boucle permettant d’afficher des phrases avec une valeur différente à chaque boucle "Nous sommes ..."

In [29]:
jours = ["lundi","mardi", "mercredi"]
temperatures = [26,30]

In [30]:
jours[1]

'mardi'

In [31]:
for jour in jours:
    print("Nous sommes", jour)

Nous sommes lundi
Nous sommes mardi
Nous sommes mercredi

In [32]:
for jour in jours:
    print("Nous sommes %s" % (jour))

Nous sommes lundi
Nous sommes mardi
Nous sommes mercredi

In [33]:
for jour in jours:
    print("Nous sommes {}".format(jour))

Nous sommes lundi
Nous sommes mardi
Nous sommes mercredi

Créer une boucle permettant d’afficher des phrases avec une valeur différente à chaque boucle "Nous sommes ... et il fait ... degrés"

In [34]:
for jour, temp, temp2 in zip(jours,temperatures,temperatures):
    print("Nous sommes", jour, "et il fait", temp)

Nous sommes lundi et il fait 26
Nous sommes mardi et il fait 30

In [35]:
zip??

Init signature: zip(self, /, *args, **kwargs)
Docstring:
zip(iter1 [,iter2 [...]]) --> zip object

Return a zip object whose .__next__() method returns a tuple where
the i-th element comes from the i-th iterable argument.  The .__next__()
method continues until the shortest iterable in the argument sequence
is exhausted and then it raises StopIteration.
Type:           type
Subclasses:

In [36]:
for i in range(len(temperatures)):
    print("Nous sommes", jours[i], "et il fait", temperatures[i])

Nous sommes lundi et il fait 26
Nous sommes mardi et il fait 30

In [37]:
for i, temp in enumerate(temperatures):
    if temp>28:
        temperatures[i]=30

In [38]:
len(jours)

3

# Les collections d’objet sous Python

Il existe 3 structures principales de données sous Python :
- Les tuples : suite de valeurs immuable définie par `( )`
- Les listes : suite de valeurs modulable définie par `[ ]`
- Les dictionnaires : valeurs indexées clé – valeur défini par `{ }` 

    
En Python, quelle que soit la structure, on utilise `[ ]` pour accéder à un élément d’une structure


- Dans un tuple : `tup1[0]` permet d’accéder au premier élément

# Les tuples

- On ne peut pas modifier un tuple une fois créé

**Attention sous Python, le premier indice est toujours le 0**

In [39]:
#on définit un tuple
tu = (1,3,True,7)
#on peut rechercher sa taille
print(len(tu))
#on accès aux indices en utilisant []
tu2=tu[1:3]
print(tu2)

4
(3, True)

In [40]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%clojure  %%cmd  %%debug  %%file  %%groovy  %%html  %%java  %%javascript  %%js  %%kotlin  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%scala  %%script  %%sh  %%sql  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [41]:
%whos

Variable            Type        Data/Info
-----------------------------------------
affichage_produit   function    <function affichage_produ<...>it at 0x000001D13CC0FAE8>
array               ndarray     3: 3 elems, type `int32`, 12 bytes
bool1               bool        True
chaine1             str         Python
chaine2             str         python
chaine3             str         python
chaine_python       str         Python pour la Science
col                 str         c
dico_param          dict        n=3
entier1             int         44
float1              float       44.55
i                   int         1
jour                str         mardi
jours               list        n=3
nom_de_variable     float       44.8
np                  module      <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
temp                int         30
temp2               int         30
temperatures        list        n=2
tu                  tuple       n=4
tu2                 tuple       n=2
x                   int         7

In [42]:
%%timeit 
x= 3**44
x=x+1

93.7 ns ± 8.94 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [43]:
%prun 3**44

         3 function calls in 0.000 seconds

   Ordered by: internal time

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.000    0.000 {built-in method builtins.exec}
        1    0.000    0.000    0.000    0.000 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

# Les listes

Une liste est un tuple de taille dynamique et modifiable

Les listes sont définies avec des `[ ]`

Les méthodes sur les listes comprennent :
- `.append()`			ajoute une valeur en fin de liste
- `.insert(i,val)`		insert une valeur à l’indice i
- `.pop(i)`			extrait la valeur de l’indice i
- `.reverse()`			inverse la liste
- `.extend()` 			étend la liste

**Attention la plupart des méthodes des listes modifient la liste.**

**Exercice:**
    
Créez une liste composée de 5 éléments, affichez la longueur de la liste.

In [44]:
liste1 = ["Col1", "Col2", True]

In [47]:
liste1.append("Col4")
liste1 = liste1 + ["Col4"]

# Les listes (suite)

On peut faire des recherché plus avancées dans les listes :
- `val in list` renvoie `True` si la valeur `val` est dans la liste `list`
- `.index(val)` renvoie l'indice de la valeur `val`
- `.count(val)` renvoie le nombre d'occurrence de `val`
- `.remove(val)` retire la valeur `val` de la liste (que la 1ère)

Pour supprimer une liste ou un élément d’une liste, on utilise la commande `del`

# Un générateur de liste : la List Comprehension

On peut définir des listes de manière plus complexe :

In [48]:
#istinit=list(range(0,100000,2))
listinit = [3,6,9,4]
listinit2 = [30,64,95,43]

In [49]:
res = [x-2*y for x,y in zip(listinit,listinit2) if ((x-y) % 2 == 0)]

In [50]:
res

[-122, -181]

In [51]:
%%timeit
res=[]
for x in listinit:
    if x%2 == 0:
        res.append(x**2)

1.79 µs ± 27.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

**Exercice :**
    
A partir d’une liste de valeurs en degrés celsius `[0, 10, 20, 35]`, créez une liste en degrés fahrenheits sachant que la formule de transfert est `(9/5*temp+32)`

In [52]:
temp_celsius = [0, 10, 20, 35, 42]
temp_fahrenheit = [(9/5*temp+32) for temp in temp_celsius]

In [53]:
temp_fahrenheit

[32.0, 50.0, 68.0, 95.0, 107.60000000000001]

# Les chaînes de caractères, des listes spécifiques

Une chaîne de caractère est une liste avec des méthodes spécifiques (`.upper()`, `.find()`, `.count()`, `.replace()`...)

Pour aller plus loin, on peut transformer une chaîne en liste :
- Caractère par caractère : `list(str)`
- En fonction de séparateurs : `.split(sep)`
- Et effectuer l’opération inverse :
```
sep.join(list)
```

**Exercice :**

Créez la chaîne 'Vive la data science', transformez-la en une liste de quatre éléments.

In [54]:
chaine_vive = "Vive la data science"

In [55]:
liste_vive = chaine_vive.split(" ")

Ajoutez les valeurs 'Python' et 'et' à cette liste de manière à créer 'Vive Python et la data science'.

In [56]:
liste_vive.insert(1,"Python et")

Affichez la chaîne de caractère obtenue.

In [57]:
print(" ".join(liste_vive))

Vive Python et la data science

# Chaîne de caractères

Pour intégrer des valeurs spécifiques dans une phrase, on utilisera :
- `%f`, `%s`, `%i` à l’intérieur de la chaîne (`float`, `str` ou `entier`)
- `%( , )` après la chaîne de caractères

In [58]:
print("Aujourd'hui nous sommes %s" %("mercredi"))

Aujourd'hui nous sommes mercredi

Si on veut intégrer d'autres types, on utilisera la méthode `.format()` et le codage `{}` dans la chaîne

In [59]:
print("La liste {} est utilisée".format([4.5,3.6,6]))

La liste [4.5, 3.6, 6] est utilisée

# Les dictionnaires

Il s'agit d’une collection d’objets non ordonnés associant les notions "clé – valeur".

In [60]:
dico = {'Paris': [True,"Java"], 'Lyon':2, 'Bordeaux':"Python"}

In [61]:
dico_donnees = {'Base_clients': [[3,5,6],[3,6,8]],'Base_produit':{"Produit1":33,"Produit2":55}}

In [62]:
dico_donnees["Base_produit"]["Produit1"]**2

1089

In [63]:
# On utilise pour afficher la liste des clés et des valeurs
print(dico.keys())
print(dico.values())

dict_keys(['Paris', 'Lyon', 'Bordeaux'])
dict_values([[True, 'Java'], 2, 'Python'])

In [64]:
# On accède aux valeurs par clé
print(dico["Paris"][1].upper())

JAVA

# Les fonctions 

- Les niveaux d’une fonction dépendent de l’indentation
- On définit une fonction avec `def fonction():`
- Le contenu de la fonction suit
- La valeur que retourne la fonction est définie par `return` 
- Les commentaires liés à une fonction sont inclus dans un docstring (commentaire utilisant `"""`)

In [65]:
def affichage_produit(val1,val2):
    """Cette fonction affiche le produit de 2 valeurs"""
    return val1*val2

In [66]:
affichage_produit(4,6)

24

Une fonction peut avoir de multiples arguments dont des argument facultatifs (avec des valeurs par défaut) :

In [67]:
def test(a,b=1,c=3):
    return a+b+c
# Que renvoie :
test(a=2,c=3)
#test(2,3,4)

6

On peut avoir un nombre indéfini d’arguments en utilisant `*args` (ils sont rassemblés dans un tuple)

In [68]:
def test2(a:int,b:float,*args):
    val=0
    for i in args:
        val+=i
    return a+b+val, a-b-val
# Que renvoie :
aplusb, amoinsb = test2(2,4,6,8)
# test2(2,4)

In [69]:
aplusb

20

In [70]:
amoinsb

-16

On peut aussi stocker les options d'une fonction dans un dictionnaire avec `**kwargs`

In [71]:
def test3(a,b,*args,w=1,**kwargs):
    x=0
    for val in args:
        x+=val
    x+=a
    x-=b
    x*=w
    option1=kwargs.pop('option1',False)
    option2=kwargs.pop('option2',False)
    if kwargs:
        print("Erreur d'option")
        return None
    
    if option1 is True and option2 is True:
        print("Tout est vrai")
        return x
    else:
        return x/2

In [72]:
# Que renvoie
#print(test3(1,2))
print(test3(1,2,3,4,**dico_param))
#print(test3(1,2,option1=True))
#print(test3(1,2,option1=True,option2=True))
#print(test3(1,2,3,4,w=2,option1=True,option2=True))

Erreur d'option
None

In [73]:
dico_param = dict(sep='\t',
                  delimiter=None,
                  header='infer')

In [75]:
import pandas as pd
pd.read_csv("./data/credit1.txt",**dico_param)

,Months_as_a_Customer,Number_of_Products,RFM_Score,Average_Balance_Feed_Index,Number_of_Transactions,Personal_Debt_to_Equity_Ratio,Months_Current_Account,Number_of_Loan_Accounts,Customer_ID,Has_Bad_Payment_Record,...,Weeks_Since_Last_Offer,Accepted_Personal_Loan,Accepted_Retention,Accepted_Home_Equity_Loan,Accepted_Credit_Card,Annual_value,Interested_in_Personal_Loan,Interested_in_Retention,Interested_in_Home_Equity_Loan,Interested_in_Credit_Card
0,24,3,10,229,2,40,13,0,5409,0,...,17,F,F,F,F,90,F,F,F,F
1,12,2,12,8,1,47,5,2,5477,0,...,22,F,F,F,F,260,F,F,F,F
2,36,0,0,0,0,35,31,0,5507,0,...,27,F,F,T,T,0,F,F,T,F
3,0,0,0,0,0,45,-3,0,8,0,...,51,F,F,F,F,0,F,T,F,F
4,48,0,0,0,0,13,39,0,158,0,...,8,F,F,F,F,0,F,F,T,F
5,12,2,12,119,1,45,6,3,173,0,...,32,T,F,F,F,360,F,T,F,F
6,12,0,0,0,0,40,5,0,5408,0,...,16,F,F,F,F,0,F,F,T,F
7,36,0,0,0,0,36,28,0,5579,0,...,21,F,F,T,F,0,F,F,F,F
8,12,1,8,179,1,26,8,0,5695,0,...,34,F,F,F,F,30,F,F,F,T
9,36,2,10,120,1,33,25,1,5732,0,...,46,F,F,F,F,160,F,F,T,F
10,24,0,0,0,0,64,14,0,5747,0,...,48,F,F,F,F,0,F,F,F,F
11,12,2,13,219,1,43,7,1,5832,0,...,32,F,F,F,F,160,F,F,F,F
12,12,0,0,0,0,37,6,3,5803,0,...,14,T,F,F,F,300,F,F,F,F
13,24,4,11,279,1,35,19,0,5833,0,...,28,F,F,F,F,120,F,F,F,F
14,12,3,8,84,1,59,8,0,5960,0,...,46,F,T,T,F,90,F,F,F,F
15,36,2,10,139,1,15,26,0,323,0,...,49,F,F,F,T,60,F,F,T,F
16,24,0,0,0,0,52,12,3,442,0,...,41,F,F,F,F,300,F,T,F,F
17,24,2,12,120,1,41,20,0,6101,0,...,30,T,T,T,T,60,F,F,F,F
18,0,0,0,0,0,78,-5,0,6331,0,...,9,F,F,F,T,0,F,F,F,F
19,24,0,0,0,0,37,16,0,6366,0,...,12,F,F,F,F,0,F,F,F,F
20,12,0,0,0,0,58,5,0,539,0,...,43,F,F,F,F,0,F,F,F,T
21,36,5,13,229,3,48,33,0,6337,0,...,5,F,F,F,F,150,F,F,F,F
22,24,0,0,0,0,32,13,4,742,0,...,49,F,T,F,F,400,F,F,F,T
23,0,0,0,0,0,49,-2,5,959,0,...,42,F,F,F,F,500,F,F,F,F
24,36,4,8,699,1,52,27,1,6882,0,...,31,F,F,F,F,220,F,T,F,F
25,12,0,0,0,0,20,5,0,6946,0,...,33,T,F,F,T,0,F,F,T,F
26,0,0,0,0,0,42,-4,4,7068,0,...,50,F,F,F,F,400,F,F,T,F
27,24,2,9,154,2,28,17,1,7100,0,...,25,F,F,F,F,160,F,F,F,F
28,24,0,0,0,0,28,12,2,7186,0,...,9,F,F,F,F,200,T,F,F,F
29,36,0,0,0,0,41,24,1,7266,0,...,10,F,F,F,F,100,F,F,F,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970,24,0,0,0,0,26,18,2,87132,0,...,48,F,F,F,F,200,F,F,F,F
1971,48,0,0,0,0,39,38,3,87157,0,...,50,F,F,F,F,300,F,F,F,T
1972,12,0,0,0,0,23,8,1,87268,0,...,24,F,F,F,F,100,F,F,F,F
1973,12,0,0,0,0,57,10,1,87368,0,...,39,F,F,F,F,100,F,F,F,F
1974,0,0,0,0,0,51,-5,0,87222,0,...,49,T,F,F,F,0,F,F,F,F
1975,12,3,10,278,2,44,10,2,87238,0,...,51,F,F,T,F,290,F,F,F,F
1976,0,1,0,0,0,26,-4,1,87387,0,...,41,F,F,F,F,130,F,F,F,F
1977,36,2,11,59,2,58,32,1,87775,0,...,28,F,F,F,F,160,F,F,F,F
1978,48,0,0,0,0,18,38,1,87866,0,...,3,F,F,F,F,100,F,F,F,F
1979,36,0,0,0,0,40,33,2,75969,0,...,27,F,F,T,F,200,F,F,F,F
1980,36,0,0,0,0,41,32,4,88043,0,...,9,T,F,F,F,400,F,F,F,F
1981,0,0,0,0,0,31,-3,1,88093,0,...,46,F,F,F,F,100,F,F,F,F
1982,12,0,0,0,0,31,0,3,88154,0,...,47,F,F,F,T,300,F,F,T,F
1983,36,0,0,0,0,29,25,1,88184,0,...,5,F,F,F,F,100,F,F,F,F
1984,24,28,10,519,2,19,14,1,88352,0,...,16,F,F,F,F,940,F,F,F,T
1985,24,0,0,0,0,29,20,1,88393,0,...,8,F,F,F,F,100,F,F,T,F
1986,48,7,12,466,5,44,39,4,88411,0,...,15,F,F,F,F,610,F,F,F,F
1987,12,4,8,299,1,83,5,1,88513,0,...,15,F,F,F,F,220,F,T,F,F
1988,48,2,7,129,1,45,37,0,88520,0,...,40,F,F,F,F,60,F,F,T,F
1989,12,0,0,0,0,42,7,1,88707,0,...,41,F,F,F,F,100,F,F,F,F
1990,24,0,0,0,0,42,14,5,88708,0,...,51,F,T,F,F,500,F,F,F,F
1991,0,0,0,0,0,39,-2,1,88742,0,...,37,F,F,T,F,100,F,F,F,F
1992,12,3,8,69,1,33,6,1,88859,0,...,18,T,F,F,F,190,F,F,F,F
1993,0,9,0,0,0,51,-3,0,88973,0,...,3,F,F,F,F,270,F,T,F,F
1994,0,0,0,0,0,38,-1,0,76210,0,...,28,F,F,F,T,0,F,F,F,F
1995,48,0,0,0,0,38,35,1,76387,0,...,8,F,F,F,F,100,F,F,F,F
1996,24,2,8,70,1,11,20,0,76430,0,...,22,T,T,F,T,60,F,F,F,F
1997,36,5,8,109,2,23,27,1,76485,0,...,6,F,T,F,F,250,F,F,F,F
1998,12,41,21,474,13,28,5,0,76678,0,...,12,F,F,F,F,1230,F,T,F,F
1999,24,1,12,109,1,30,16,0,76719,0,...,13,F,F,F,F,30,F,T,F,F

# Les fonctions lambda

- Il s’agit de fonction très courte visant à simplifier votre code
- On les trouve souvent dans du code en python
- Les fonctions lambda peuvent être assigné a une variable qui devient une fonction ou être traitées toutes seules
- On utilise le mot clé lambda
- Il y a deux limites aux fonctions lambda :
     - Elle ne peut s’écrire que sur une ligne
     - Il n’y a qu’une instruction (on peut avoir plusieurs paramètres)

- Quand utiliser des fonctions lambda :
    - A l’intérieur d’autres fonctions
    - Lorsqu’on veut appliquer une transformation sur des données

In [76]:
f=lambda x:x**3
print(f(5))
print((lambda x:x**3)(5))

125
125

### Exemples d'utilisations :

In [77]:
# Dans une fonction :
def ma_fonction_puissance(x):
    return lambda a,b : (a+b)**x

In [78]:
fonction_cube=ma_fonction_puissance(3)
print(fonction_cube(2,3))

125

In [79]:
# Pour une transformation
from pandas import Series
ser1=Series([2,5,7,9])
ser1

0    2
1    5
2    7
3    9
dtype: int64

In [80]:
ser1.apply(lambda x:x**2+2*x-5)

0     3
1    30
2    58
3    94
dtype: int64

# Les packages et les modules en Python

- Il s’agit d’un ensemble de fonctions qui pourront être appelées d’un autre programme

- On utilise :
```
import nom_pkg
```
- Si on utilise `as nm` par exemple, ceci permet de raccourcir l'appel aux fonctions du package
- On peut utiliser `from mon_pkg import *`, dans ce cas plus de préfixes mais attention aux conflits
- On peut aussi utiliser des fonctions ou des classes spécifiques (plus besoin de préfixe)
```
from pandas import Series
```

*Si on cherche des informations sur un module, on peut utiliser `dir()` et `help()`*

In [81]:
import numpy

In [82]:
import numpy as np

In [83]:
from pandas import DataFrame

In [85]:
#import mon_module

In [86]:
#mon_module.test2(4,6,8)

In [87]:
import sys
sys.path

['C:\\Users\\s4d-asus-14\\Anaconda3\\python36.zip',
 'C:\\Users\\s4d-asus-14\\Anaconda3\\DLLs',
 'C:\\Users\\s4d-asus-14\\Anaconda3\\lib',
 'C:\\Users\\s4d-asus-14\\Anaconda3',
 '',
 'C:\\Users\\s4d-asus-14\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\s4d-asus-14\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\s4d-asus-14\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\s4d-asus-14\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\s4d-asus-14\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\s4d-asus-14\\.ipython']

In [88]:
import pandas as pd

In [89]:
import datetime

# Créer votre module et votre package

- Il est très simple de faire appel à des fonctions ou à des classes depuis un autre fichier
- Il suffit de stocker vos classes et fonctions dans un fichier `.py`
- Celui-ci pourra être stocké dans un répertoire appartenant aux chemins de Python ou dans votre répertoire de travail
- Vous avez alors la possibilité de faire :
```
import mon_fichier
```
et d’utiliser les fonctions et classes de ce fichiers

- Vous venez de créer un module. 
- **Attention ceci n’est pas un package !**

# Créer votre module et votre package (suite)


- Un package est constitué de plus d’informations qu’un simple fichier `.py`


- Voici les étapes pour créer votre premier package :
    - Choisissez un nom simple et traduisant bien ce que va faire votre package (si possible un nom qui n’est pas déjà utilisé)
    - Créez un répertoire du nom de votre package
    - Créez un fichier `__init__.py` dans ce répertoire, ce fichier peut être vide dans un premier temps
    - Dans le même répertoire ajoutez des fichiers avec vos fonctions et vos classes

Si votre objectif est de publier le package sur PyPi, il faudra ajouter un fichier setup et les dépendances associées

Pour importer votre package, il vous suffit de faire:
```
import nom_dossier.nom_fichier
```

** Exercice : **

Rassemblez deux fonctions dans un fichier .py et créez un package

# Quelques détails sur la création de package

- Le fichier `__init__.py` peut être vide mais il peut aussi contenir des informations
- Ce fichier est lancé à chaque chargement du package, il peut inclure des dépendances, des vérifications de versions, des import vers les fonctions et classes des fichiers de votre package...


- Où peut-on mettre nos packages ?
    - Par défaut, si le package se trouve dans le même répertoire que le script exécuté, ça fonctionne
    - Le package doit se trouver dans un répertoire lié au PythonPath
    - Pour rechercher les répertoire, on utilise le module `sys` et la fonction `path`
    - Pour créer un répertoire "temporaire", on utilise la fonction `path.insert()` du module `sys`

# Les classes

Nous avons manipuler de nombreux objets de classes variées. Si nous voulons aller plus loin, il va falloir manipuler des classes et savoir les créer.

Une classe est un type permettant de regrouper dans la même structure :
- les informations (champs, propriétés, attributs) relatives à une entité ; 
- les procédures et fonctions permettant de les manipuler (méthodes).

Une classe commence par un constructeur :

In [14]:
class MaClasse:
    
    def __init__(self,nom="Emmanuel",ville="Paris"):
        self.nom= nom
        self.ville=ville
        
    def affiche_nom_ville(self):
        print("Je m'appelle {} et j'habite {}".format(self.nom,self.ville))

In [ ]:
moi = MaClasse("Emmanuel")

In [15]:
objet_classe = MaClasse("Emmanuel","Lyon")

In [16]:
objet_classe.affiche_nom_ville()

Je m'appelle Emmanuel et j'habite Lyon

In [206]:
objet_classe.nom="Aslane"

In [207]:
objet_classe.nom

'Aslane'

Ensuite on peut définir d’autres fonctions dans la classe


On définit ensuite une nouvelle instance et on peut ainsi remplir le nouvel objet

# Les classes

- La programmation orientée objet, c’est un style de programmation qui permet de regrouper au même endroit le comportement (les fonctions) et les données (les structures) qui sont faites pour aller ensemble
- La notion d’objet en Python concerne toutes les structures Python
- L’idée est de créer vos propres objets
- La création d’un objet se fait en deux étapes :
    - Description de l’objet
    - Fabrication de l’objet
- La notion de classe en python représente la description de l’objet
- La deuxième étape se fait uniquement en allouant des informations à l’objet. L’objet obtenu est une instance de la classe

In [208]:
# Une classe va ressembler à :
class MaClasse():
    def __init__(self,val1=0,val2=0):
        self.val1=val1
        self.val2=val2
    
    def methode1(self,param1):
        self.val1+=param1
        print(self.val1)

# La gestion des exceptions

- Python possède un système pour gérer les exceptions
- On utilise `try:` et `except:`
- On peut intercepter différents types d’erreurs
    - `NameError`, `TypeError`, `ZeroDivisionError`
- Si on ne veut rien faire dans l’exception on peut utiliser le mot clé `pass`

In [92]:
def ma_fonction(val):
    try:
        print(val**2)
    except TypeError:
        print("Erreur")

In [93]:
ma_fonction("r")

Erreur